%datepicker{":disabled-dates" => "disabledDates", ":language" => "fr", "calendar-class" => "bg-white mt-12 rounded-lg shadow p-4 absolute top-0 left-0 z-40", :format => "dd/MM/yyyy", "input-class" => "bg-gray-400 appearance-none border-2 border-gray-400 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-900", "monday-first" => "", :name => input_name, :placeholder => "Choisir une date"}
