.bg-gray-200.py-20.px-40
  %div
    %h2.text-2xl.font-bold.mb-10.border-b.border-gray-400.pb-4
      Réservations
    %table.table-audo
      %thead
        %tr
          %th.px-4.py-2
          %th.px-4.py-2 Date d'emprunt
          %th.px-4.py-2 Date de restitution
          %th.px-4.py-2 Nom
          %th.px-4.py-2 Prénom
          %th.px-4.py-2 Email
          %th.px-4.py-2 Tel
      %tbody
        - @emprunts.each do |emprunt|
          %tr
            %td.border.px-4.py-2= emprunt.empruntable.nom
            %td.border.px-4.py-2= emprunt.date_emprunt
            %td.border.px-4.py-2= emprunt.date_restitution
            %td.border.px-4.py-2= emprunt.nom
            %td.border.px-4.py-2= emprunt.prenom
            %td.border.px-4.py-2= emprunt.email
            %td.border.px-4.py-2= emprunt.tel
