- content_for :head do
  = javascript_pack_tag 'calendar_vue', 'data-turbolinks-track': 'reload'

- if flash[:notice]
  .bg-teal-100.border-t-4.border-teal-500.rounded-b.text-teal-900.text-center.px-4.py-3.shadow-md{:role => "alert"}
    %p.text-xl.font-bold Succès
    %p= flash[:notice]
- if @emprunt.errors.any?
  .bg-red-100.border-t-4.border-red-500.rounded-b.text-red-900.text-center.px-4.py-3.shadow-md{:role => "alert"}
    %p.text-xl.font-bold L'emprunt n'est pas valide
    %ul
      - @emprunt.errors.full_messages.each do |msg|
        %li= msg
.bg-gray-200.px-10.md:px-40.py-10
  .flex.items-center.flex-wrap
    .pr-10{:class => "xl:w-1/2"}
      %h1.text-4xl.font-bold.pb-5= @empruntable.nom
      %p.text-base= @empruntable.description_courte
      .py-5
        = image_tag(url_for(@empruntable.photo), alt: @empruntable.nom, class: 'w-full rounded-lg overflow-hidden')
    %div#calendar{:class => "xl:w-1/2"}
      .p-10.border.rounded-lg.xl:shadow-xl.flex.flex-col.items-center
        .pb-10.text-center.text-2xl.font-bold Quand souhaitez-vous réserver ?
        = form_with model: [:empruntable, @emprunt], local: true, class: 'w-full' do |f|
          .flex.items-center.mb-6
            %div{:class => "w-1/3"}
              = f.label :prenom, class: "block text-gray-500 font-bold text-right pr-4"
            %div{:class => "w-2/3"}
              = f.text_field :prenom, class: " bg-gray-400 appearance-none border-2 border-gray-400 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-900"
          .flex.items-center.mb-6
            %div{:class => "w-1/3"}
              = f.label :nom, class: "block text-gray-500 font-bold text-right pr-4"
            %div{:class => "w-2/3"}
              = f.text_field :nom, class: " bg-gray-400 appearance-none border-2 border-gray-400 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-900"
          .flex.items-center.mb-6
            %div{:class => "w-1/3"}
              = f.label :email, class: "block text-gray-500 font-bold text-right pr-4"
            %div{:class => "w-2/3"}
              = f.text_field :email, class: " bg-gray-400 appearance-none border-2 border-gray-400 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-900"
          .flex.items-center.mb-6
            %div{:class => "w-1/3"}
              = f.label :tel, class: "block text-gray-500 font-bold text-right pr-4"
            %div{:class => "w-2/3"}
              = f.text_field :tel, class: " bg-gray-400 appearance-none border-2 border-gray-400 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-900"
          .flex.items-center.mb-6
            %div{:class => "w-1/3"}
              = label_tag "Date d'emprunt", nil, class: "block text-gray-500 font-bold text-right pr-4"
            %div{:class => "w-2/3"}
              = render partial: 'calendar_input', locals: { input_name: "emprunt[date_emprunt]" }
          .flex.items-center.mb-6
            %div{:class => "w-1/3"}
              = label_tag "Date de restitution", nil, class: "block text-gray-500 font-bold text-right pr-4"
            %div{:class => "w-2/3"}
              = render partial: 'calendar_input', locals: { input_name: "emprunt[date_restitution]" }
          .md:flex.md:items-center
            %div{:class => "md:w-1/3"}
            .mt-10{:class => "md:w-2/3"}
              = f.submit 'Demander une réservation', class: "w-full shadow bg-green-500 hover:bg-indigo-800 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded-lg"
  %h2.text-2xl.font-bold.mt-10.border-b.border-gray-400.pb-4
    Conditions de réservation
