= form_for :session, url: session_path, class: "form px-8 pt-6 pb-8 mb-4 bg-white rounded" do |form|
  .mb-4
    .flex.items-center.mb-6
      %div{:class => "w-1/3"}
        = form.label :email, class: "block text-gray-700 font-bold text-left pr-4"
      %div{:class => "w-2/3"}
        = form.text_field :email, class: " bg-gray-400 appearance-none border-2 border-gray-400 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-900"
    .flex.items-center.mb-6
      %div{:class => "w-1/3"}
        = form.label :password, class: "block text-gray-700 font-bold text-left pr-4"
      %div{:class => "w-2/3"}
        = form.password_field :password, class: " bg-gray-400 appearance-none border-2 border-gray-400 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-900"
  .mb-6.text-center
    = button_tag 'Se connecter', class: "w-full no-underline block font-bold text-center rounded bg-green-600 text-white px-4 py-3 hover:bg-green-500 outline-none focus:shadow-outline transition ease-in-out duration-150"
  %hr.mb-6.border-t/
  .text-center
    = link_to t(".forgot_password"), new_password_path, class: "inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
