Bonjour,

Nous avons bien pris en compte votre demande de réservation que vous avez effectué sur le site Resadon.
En voici un résumé :

\- #{@emprunt.empruntable.nom}
\- Date d'emprunt : #{@emprunt.date_emprunt}
\- Date de restitution : #{@emprunt.date_restitution}
