.bg-indigo-900
  %a{:href => "#"}
    .p-10.flex.items-center
      = image_tag("blason-chateldon-small.png", alt: 'Blason Chateldon', class: 'px-5')
      .text-base.text-white.tracking-wider ResaDon
  .flex.items-start.flex-wrap.justify-between.mx-40.pb-10
    %div{:class => "lg:w-1/2"}
      %h1.text-white.text-2xl.md:text-5xl.font-bold.leading-tight.mb-8
        Réservez une salle, empruntez du matériel avec
        %span{:style => "color: lightgreen"} ResaDon
      %p.text-indigo-200.md:text-xl Grâce au village de Châteldon, vous pouvez réserver en ligne des salles pour vos événements, connaître leurs disponibilités, emprunter du matériel !
    .hidden.lg:block{:class => "lg:w-1/2"}
      = image_tag('booking.svg', alt: 'Illustration calendrier')
.bg-gray-200.py-20.px-40
  %div
    %h2.text-2xl.font-bold.mb-10.border-b.border-gray-400.pb-4
      Ce que vous pouvez réserver
    .flex.items-start.flex-wrap.justify-between
      .max-w-sm.rounded-lg.overflow-hidden.shadow-lg.my-10.mx-5
        = image_tag("salle-polyvalente.jpg", alt: "salle polyvalente", class: "w-full h-64")
        .px-6.py-4
          .font-bold.text-xl.mb-2 Salle polyvalente
          %p.text-base.text-gray-700 Capacité de 100 personnes
        .px-6.py-4
          %a.no-underline.block.font-bold.text-center.rounded.bg-indigo-900.text-white.px-4.py-3.hover:bg-indigo-800.outline-none.focus:shadow-outline.transition.ease-in-out.duration-150{:href => "/article.html"} Réserver
      .max-w-sm.rounded-lg.overflow-hidden.shadow-lg.my-10.mx-5
        = image_tag("salle-2.jpg", alt: "salle polyvalente", class: "w-full h-64")
        .px-6.py-4
          .font-bold.text-xl.mb-2 Grande salle polyvalente
          %p.text-base.text-gray-700 Capacité de 200 personnes
        .px-6.py-4
          %a.no-underline.block.font-bold.text-center.rounded.bg-indigo-900.text-white.px-4.py-3.hover:bg-indigo-800.outline-none.focus:shadow-outline.transition.ease-in-out.duration-150{:href => "#"} Réserver
      .max-w-sm.rounded-lg.overflow-hidden.shadow-lg.my-10.mx-5
        = image_tag("barriere.jpg", alt: "barriere", class: "w-full h-64")
        .px-6.py-4
          .font-bold.text-xl.mb-2 Barriere
          %p.text-base.text-gray-700 5m de longueur
        .px-6.py-4
          %a.no-underline.block.font-bold.text-center.rounded.bg-indigo-900.text-white.px-4.py-3.hover:bg-indigo-800.outline-none.focus:shadow-outline.transition.ease-in-out.duration-150{:href => "#"} Réserver
      .max-w-sm.rounded-lg.overflow-hidden.shadow-lg.my-10.mx-5
        = image_tag("salle-2.jpg", alt: "salle polyvalente", class: "w-full h-64")
        .px-6.py-4
          .font-bold.text-xl.mb-2 Salle polyvalente
          %p.text-base.text-gray-700 Capacité de 100 personnes
        .px-6.py-4
          %a.no-underline.block.font-bold.text-center.rounded.bg-indigo-900.text-white.px-4.py-3.hover:bg-indigo-800.outline-none.focus:shadow-outline.transition.ease-in-out.duration-150{:href => "#"} Réserver
