= form_with(model: empruntable, local: true) do |form|
  - if empruntable.errors.any?
    #error_explanation
      %h2
        = pluralize(empruntable.errors.count, "error")
        prohibited this empruntable from being saved:
      %ul
        - empruntable.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :nom
    = form.text_field :nom
  .field
    = form.label :description_courte
    = form.text_field :description_courte
  .field
    = form.label :description_longue
    = form.text_field :description_longue
  .actions
    = form.submit
