.bg-indigo-900
  .flex.items-start.flex-wrap.justify-between.mx-10.md:mx-40.pb-10
    %div{:class => "lg:w-1/2"}
      %h1.text-white.text-2xl.md:text-5xl.font-bold.leading-tight.mb-8
        Réservez une salle, empruntez du matériel avec
        %span{:style => "color: lightgreen"} ResaDon
      %p.text-indigo-200.md:text-xl Grâce au village de Châteldon, vous pouvez réserver en ligne des salles pour vos événements, connaître leurs disponibilités, emprunter du matériel !
    .hidden.lg:block{:class => "lg:w-1/2"}
      = image_tag('booking.svg', alt: 'Illustration calendrier')
.bg-gray-200.py-20
  .mx-10.md:mx-40
    %h2.text-2xl.font-bold.mb-10.border-b.border-gray-400.pb-4
      Ce que vous pouvez réserver
    .flex.items-start.flex-wrap.justify-center
      - @empruntables.each do |empruntable|
        .max-w-sm.rounded-lg.overflow-hidden.shadow-lg.my-10.mx-10
          = image_tag(url_for(empruntable.photo), alt: empruntable.nom, class: "w-full object-cover h-64")
          .px-6.py-4
            .font-bold.text-xl.mb-2= empruntable.nom
            %p.text-base.text-gray-700= empruntable.description_courte
          .px-6.py-4
            = link_to('Demander une réservation', new_empruntable_emprunt_path(empruntable), class: "no-underline block font-bold text-center rounded bg-indigo-900 text-white px-4 py-3 hover:bg-indigo-800 outline-none focus:shadow-outline transition ease-in-out duration-150")
