!!!
%html
  %head
    %meta{name: "viewport", :content => "width=device-width, initial-scale=1.0"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Resadon
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :head
  %body
    = Gon::Base.render_data
    .bg-indigo-900
      %nav.flex.items-center.justify-between.p-10
        = link_to root_path do
          .flex.items-center
            = image_tag("blason-chateldon-small.png", alt: 'Blason Chateldon', class: 'px-5')
            .text-base.text-white.tracking-wider ResaDon
        - if signed_in?
          .flex.items-end
            = link_to 'Reservations', emprunts_path, class: 'text-white mx-8'
            = link_to 'Se déconnecter', sign_out_path, method: :delete, class: "text-white"
        - else
          = link_to 'Accès réservé', sign_in_path, class: "text-white"

    - if flash[:notice]
      .bg-teal-100.border-t-4.border-teal-500.rounded-b.text-teal-900.text-center.px-4.py-3.shadow-md{:role => "alert"}
        %p.text-xl.font-bold Succès
        %p= flash[:notice]
    = yield
