!!!
%html
  %head
    %meta{name: "viewport", :content => "width=device-width, initial-scale=1.0"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Resadon
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :head
  %body.h-screen.overflow-hidden.flex.flex-col.justify-center.bg-gray-200
    = link_to "Retour à l'accueil", root_path, class: 'text-base text-gray-700 mx-auto mb-4'
    - flash.each do |key, value|
      .bg-gray-200.border-t-4.border-red-600.text-red-600.text-center.px-4.py-3.shadow-md.rounded-b.mx-auto
        %p.font-bold Attention !
        %p= value

    .container.mx-auto
      .flex.flex-row.justify-center.px-6.my-12
        .w-full.flex{:class => "lg:w-11/12"}
          .w-full.bg-gray-400.hidden.lg:block.bg-cover.rounded-l-lg{:class => "lg:w-1/2", :style => "background-image: url(#{image_path('maison.jpg')})"}
          .w-full.bg-white.p-10.rounded-lg.lg:rounded-l-none{:class => "lg:w-1/2"}
            = yield
